html,
body,
#root {
  margin: 0;
  min-height: 100%;
  background: #123;
}

html {
  font: 5vmin/1.3 serif;
  height: 100%;
  overflow: hidden;
  color-scheme: dark;
}

body {
  font-size: 52px;
  color: transparent;
  overflow: hidden;
}

#root {
  min-height: 100dvh;
}

.orbs span {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 3em;
  height: 3em;
  color: transparent;
  mix-blend-mode: screen;
  pointer-events: none;
  user-select: none;
  animation-name: move;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.orbs span:nth-child(1) {
  animation-duration: 44s;
  animation-delay: -27s;
  text-shadow:
    -0.446em 0.811em 7px hsla(221, 100%, 50%, 0.9),
    1.474em -0.371em 7px hsla(233, 100%, 50%, 0.9),
    -0.075em 1.711em 7px hsla(108, 100%, 50%, 0.9),
    0.495em 0.882em 7px hsla(355, 100%, 50%, 0.9),
    1.128em -0.069em 7px hsla(292, 100%, 50%, 0.9),
    1.449em -0.248em 7px hsla(39, 100%, 50%, 0.9),
    1.685em 1.999em 7px hsla(123, 100%, 50%, 0.9),
    -0.483em 2.363em 7px hsla(262, 100%, 50%, 0.9),
    -0.423em 2.307em 7px hsla(279, 100%, 50%, 0.9),
    0.473em 1.830em 7px hsla(244, 100%, 50%, 0.9),
    2.049em 1.060em 7px hsla(330, 100%, 50%, 0.9),
    -0.317em 1.802em 7px hsla(188, 100%, 50%, 0.9),
    2.240em -0.048em 7px hsla(3, 100%, 50%, 0.9),
    0.478em 0.464em 7px hsla(323, 100%, 50%, 0.9),
    0.193em 1.032em 7px hsla(39, 100%, 50%, 0.9),
    1.553em 0.639em 7px hsla(15, 100%, 50%, 0.9),
    0.367em -0.262em 7px hsla(322, 100%, 50%, 0.9),
    2.284em 0.212em 7px hsla(235, 100%, 50%, 0.9),
    1.749em -0.353em 7px hsla(223, 100%, 50%, 0.9),
    1.203em 0.140em 7px hsla(6, 100%, 50%, 0.9),
    1.186em 0.899em 7px hsla(95, 100%, 50%, 0.9),
    0.385em 1.840em 7px hsla(13, 100%, 50%, 0.9),
    1.940em 1.368em 7px hsla(91, 100%, 50%, 0.9),
    1.268em 2.485em 7px hsla(355, 100%, 50%, 0.9),
    1.219em 1.178em 7px hsla(358, 100%, 50%, 0.9),
    0.066em 0.219em 7px hsla(16, 100%, 50%, 0.9),
    -0.486em 2.461em 7px hsla(300, 100%, 50%, 0.9),
    1.151em -0.372em 7px hsla(45, 100%, 50%, 0.9),
    1.993em -0.298em 7px hsla(281, 100%, 50%, 0.9),
    -0.072em 0.754em 7px hsla(198, 100%, 50%, 0.9),
    1.841em 0.851em 7px hsla(339, 100%, 50%, 0.9),
    2.050em 0.834em 7px hsla(81, 100%, 50%, 0.9),
    1.564em 1.592em 7px hsla(295, 100%, 50%, 0.9),
    1.667em 1.647em 7px hsla(36, 100%, 50%, 0.9),
    1.629em -0.119em 7px hsla(324, 100%, 50%, 0.9),
    -0.010em 0.680em 7px hsla(352, 100%, 50%, 0.9),
    0.674em -0.281em 7px hsla(283, 100%, 50%, 0.9),
    2.152em 0.577em 7px hsla(201, 100%, 50%, 0.9),
    -0.487em 1.171em 7px hsla(355, 100%, 50%, 0.9),
    -0.366em -0.020em 7px hsla(344, 100%, 50%, 0.9),
    0.590em -0.487em 7px hsla(312, 100%, 50%, 0.9);
}

.orbs span:nth-child(2) {
  animation-duration: 43s;
  animation-delay: -32s;
  text-shadow:
    0.722em 0.775em 7px hsla(151, 100%, 50%, 0.9),
    1.718em 0.232em 7px hsla(105, 100%, 50%, 0.9),
    1.660em 0.121em 7px hsla(309, 100%, 50%, 0.9),
    -0.187em 2.107em 7px hsla(335, 100%, 50%, 0.9),
    -0.321em 0.543em 7px hsla(139, 100%, 50%, 0.9),
    0.568em 1.276em 7px hsla(128, 100%, 50%, 0.9),
    0.219em 0.560em 7px hsla(149, 100%, 50%, 0.9),
    0.504em 2.444em 7px hsla(355, 100%, 50%, 0.9),
    0.176em 1.529em 7px hsla(342, 100%, 50%, 0.9),
    0.555em 2.114em 7px hsla(91, 100%, 50%, 0.9),
    -0.369em 1.462em 7px hsla(340, 100%, 50%, 0.9),
    0.179em 2.418em 7px hsla(57, 100%, 50%, 0.9),
    1.525em 0.832em 7px hsla(247, 100%, 50%, 0.9),
    0.548em 1.019em 7px hsla(112, 100%, 50%, 0.9),
    2.320em 1.542em 7px hsla(227, 100%, 50%, 0.9),
    2.149em 0.602em 7px hsla(132, 100%, 50%, 0.9),
    1.040em 1.975em 7px hsla(321, 100%, 50%, 0.9),
    0.005em 1.554em 7px hsla(59, 100%, 50%, 0.9),
    2.236em 1.970em 7px hsla(253, 100%, 50%, 0.9),
    2.227em -0.264em 7px hsla(239, 100%, 50%, 0.9),
    1.763em -0.463em 7px hsla(53, 100%, 50%, 0.9),
    1.045em 2.399em 7px hsla(188, 100%, 50%, 0.9),
    2.344em 0.274em 7px hsla(158, 100%, 50%, 0.9),
    2.072em 1.544em 7px hsla(114, 100%, 50%, 0.9),
    0.359em 0.031em 7px hsla(28, 100%, 50%, 0.9),
    1.959em -0.499em 7px hsla(356, 100%, 50%, 0.9),
    0.570em 0.258em 7px hsla(289, 100%, 50%, 0.9),
    1.550em 1.898em 7px hsla(48, 100%, 50%, 0.9),
    1.185em -0.356em 7px hsla(202, 100%, 50%, 0.9),
    1.423em 1.677em 7px hsla(311, 100%, 50%, 0.9),
    0.534em 1.811em 7px hsla(83, 100%, 50%, 0.9),
    -0.253em 0.885em 7px hsla(60, 100%, 50%, 0.9),
    2.454em 1.405em 7px hsla(129, 100%, 50%, 0.9),
    -0.127em 1.407em 7px hsla(95, 100%, 50%, 0.9),
    1.702em 0.134em 7px hsla(262, 100%, 50%, 0.9),
    0.301em 0.118em 7px hsla(250, 100%, 50%, 0.9),
    1.473em 1.635em 7px hsla(294, 100%, 50%, 0.9),
    0.312em 2.033em 7px hsla(119, 100%, 50%, 0.9),
    -0.190em 2.042em 7px hsla(105, 100%, 50%, 0.9),
    1.936em 1.956em 7px hsla(174, 100%, 50%, 0.9),
    2.324em 2.252em 7px hsla(21, 100%, 50%, 0.9);
}

.orbs span:nth-child(3) {
  animation-duration: 42s;
  animation-delay: -23s;
  text-shadow:
    1.858em 1.726em 7px hsla(302, 100%, 50%, 0.9),
    0.607em 0.603em 7px hsla(292, 100%, 50%, 0.9),
    2.204em 0.682em 7px hsla(56, 100%, 50%, 0.9),
    0.934em -0.033em 7px hsla(46, 100%, 50%, 0.9),
    0.023em 0.323em 7px hsla(350, 100%, 50%, 0.9),
    -0.271em 2.421em 7px hsla(85, 100%, 50%, 0.9),
    0.652em 0.497em 7px hsla(197, 100%, 50%, 0.9),
    1.966em -0.125em 7px hsla(103, 100%, 50%, 0.9),
    -0.484em 0.432em 7px hsla(199, 100%, 50%, 0.9),
    2.297em -0.060em 7px hsla(198, 100%, 50%, 0.9),
    1.202em 0.302em 7px hsla(140, 100%, 50%, 0.9),
    1.160em 1.443em 7px hsla(316, 100%, 50%, 0.9),
    1.030em -0.448em 7px hsla(161, 100%, 50%, 0.9),
    1.535em -0.013em 7px hsla(233, 100%, 50%, 0.9),
    0.910em 0.543em 7px hsla(131, 100%, 50%, 0.9),
    0.879em 2.024em 7px hsla(310, 100%, 50%, 0.9),
    -0.211em 2.178em 7px hsla(338, 100%, 50%, 0.9),
    2.321em 2.268em 7px hsla(182, 100%, 50%, 0.9),
    1.828em -0.112em 7px hsla(272, 100%, 50%, 0.9),
    -0.113em 2.401em 7px hsla(306, 100%, 50%, 0.9),
    0.655em 0.077em 7px hsla(99, 100%, 50%, 0.9),
    0.359em 0.653em 7px hsla(180, 100%, 50%, 0.9),
    2.486em 0.569em 7px hsla(77, 100%, 50%, 0.9),
    2.358em 1.431em 7px hsla(140, 100%, 50%, 0.9),
    1.466em -0.014em 7px hsla(1, 100%, 50%, 0.9),
    2.258em 2.454em 7px hsla(48, 100%, 50%, 0.9),
    1.467em 1.701em 7px hsla(234, 100%, 50%, 0.9),
    2.195em 1.435em 7px hsla(245, 100%, 50%, 0.9),
    -0.430em 0.591em 7px hsla(56, 100%, 50%, 0.9),
    1.370em -0.401em 7px hsla(335, 100%, 50%, 0.9),
    1.313em 1.668em 7px hsla(332, 100%, 50%, 0.9),
    0.095em 1.212em 7px hsla(359, 100%, 50%, 0.9),
    0.511em -0.447em 7px hsla(332, 100%, 50%, 0.9),
    -0.048em 1.668em 7px hsla(54, 100%, 50%, 0.9),
    1.618em 2.413em 7px hsla(221, 100%, 50%, 0.9),
    0.438em 0.434em 7px hsla(50, 100%, 50%, 0.9),
    0.824em -0.191em 7px hsla(16, 100%, 50%, 0.9),
    0.237em 1.408em 7px hsla(191, 100%, 50%, 0.9),
    0.479em -0.227em 7px hsla(36, 100%, 50%, 0.9),
    -0.203em 2.016em 7px hsla(26, 100%, 50%, 0.9),
    0.034em 2.173em 7px hsla(326, 100%, 50%, 0.9);
}

.orbs span:nth-child(4) {
  animation-duration: 41s;
  animation-delay: -19s;
  text-shadow:
    1.106em 1.292em 7px hsla(69, 100%, 50%, 0.9),
    1.113em 1.772em 7px hsla(120, 100%, 50%, 0.9),
    1.573em 2.227em 7px hsla(66, 100%, 50%, 0.9),
    1.025em 1.068em 7px hsla(116, 100%, 50%, 0.9),
    1.707em -0.146em 7px hsla(288, 100%, 50%, 0.9),
    0.108em 0.183em 7px hsla(46, 100%, 50%, 0.9),
    0.998em 1.218em 7px hsla(32, 100%, 50%, 0.9),
    2.057em 1.890em 7px hsla(43, 100%, 50%, 0.9),
    2.260em 1.779em 7px hsla(165, 100%, 50%, 0.9),
    2.165em 2.400em 7px hsla(357, 100%, 50%, 0.9),
    0.076em -0.271em 7px hsla(121, 100%, 50%, 0.9),
    0.211em 1.435em 7px hsla(252, 100%, 50%, 0.9),
    1.899em 1.944em 7px hsla(4, 100%, 50%, 0.9),
    2.482em 0.867em 7px hsla(161, 100%, 50%, 0.9),
    0.456em 0.630em 7px hsla(20, 100%, 50%, 0.9),
    -0.127em 2.029em 7px hsla(294, 100%, 50%, 0.9),
    1.739em 0.521em 7px hsla(111, 100%, 50%, 0.9),
    0.106em -0.147em 7px hsla(53, 100%, 50%, 0.9),
    -0.430em 0.536em 7px hsla(101, 100%, 50%, 0.9),
    1.667em 1.842em 7px hsla(258, 100%, 50%, 0.9),
    2.373em 1.696em 7px hsla(264, 100%, 50%, 0.9),
    0.160em 2.138em 7px hsla(210, 100%, 50%, 0.9),
    2.276em 0.856em 7px hsla(129, 100%, 50%, 0.9),
    2.168em 1.339em 7px hsla(249, 100%, 50%, 0.9),
    2.399em -0.135em 7px hsla(240, 100%, 50%, 0.9),
    1.792em -0.168em 7px hsla(354, 100%, 50%, 0.9),
    1.166em 1.504em 7px hsla(106, 100%, 50%, 0.9),
    1.807em 2.087em 7px hsla(176, 100%, 50%, 0.9),
    1.602em 0.485em 7px hsla(100, 100%, 50%, 0.9),
    -0.309em 1.341em 7px hsla(163, 100%, 50%, 0.9),
    0.227em 0.497em 7px hsla(207, 100%, 50%, 0.9),
    0.980em 2.087em 7px hsla(61, 100%, 50%, 0.9),
    0.857em 0.449em 7px hsla(179, 100%, 50%, 0.9),
    0.855em -0.498em 7px hsla(231, 100%, 50%, 0.9),
    1.918em 2.392em 7px hsla(135, 100%, 50%, 0.9),
    1.352em 0.246em 7px hsla(36, 100%, 50%, 0.9),
    -0.225em 0.793em 7px hsla(60, 100%, 50%, 0.9),
    0.749em -0.203em 7px hsla(265, 100%, 50%, 0.9),
    1.476em 1.821em 7px hsla(186, 100%, 50%, 0.9),
    1.061em 1.479em 7px hsla(75, 100%, 50%, 0.9),
    -0.468em 1.878em 7px hsla(12, 100%, 50%, 0.9);
}

@keyframes move {
  from {
    transform: rotate(0deg) scale(12) translateX(-20px);
  }
  to {
    transform: rotate(360deg) scale(18) translateX(20px);
  }
}

@media (prefers-reduced-motion: reduce) {
  .orbs span {
    animation: none;
    transform: rotate(0deg) scale(15) translateX(0);
  }
}
